@model Gs.TestingBugManagement.Models.BugManagement

@{
    ViewData["Title"] = "BugManagerEdit";
}

<h2>BugManagerEdit</h2>

<h4>BugManagement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BugManagerEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @Html.HiddenFor(m => m.BugManagmentId);

            <div class="form-group">
                <label asp-for="BugNumber" class="control-label"></label>
                <input asp-for="BugNumber" class="form-control" />
                <span asp-validation-for="BugNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignedTo" class="control-label"></label>
                <input asp-for="AssignedTo" class="form-control" />
                <span asp-validation-for="AssignedTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnterpriseID" class="control-label"></label>
                <select asp-for="EnterpriseID" class="form-control" asp-items="ViewBag.EnterpriseID"></select>
            </div>
            <div class="form-group">
                <label asp-for="EnvironmentID" class="control-label"></label>
                <select asp-for="EnvironmentID" class="form-control" asp-items="ViewBag.EnvironmentID"></select>
            </div>
            <div class="form-group">
                <label asp-for="BugID" class="control-label"></label>
                <select asp-for="BugID" class="form-control" asp-items="ViewBag.BugID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
